<%= simple_form_for(@lobby) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <table class="min-w-full divide-y divide-gray-200 border border-gray-300 rounded-lg shadow-sm">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Faction</th>
          <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Player</th>
          <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ELO</th>
          <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">W/L</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200" data-controller="average-elo">
        <tr class="bg-gray-100">
          <td colspan="4" class="px-4 py-2 text-left text-sm text-gray-500 font-medium">Forces of Middle Earth</td>
        </tr>
        <%= render partial: "lobbies/form_lobby_players", locals: { f: f, lobby_players: @lobby.lobby_players.select { |lp| lp.faction&.good? }, team_number: 1 } %>
      </tbody>
      <tbody class="bg-white divide-y divide-gray-200" data-controller="average-elo">
        <tr class="bg-gray-100">
          <td colspan="4" class="px-4 py-2 text-left text-sm text-gray-500 font-medium">Forces of Sauron</td>
        </tr>
        <%= render partial: "lobbies/form_lobby_players", locals: { f: f, lobby_players: @lobby.lobby_players.select { |lp| lp.faction && !lp.faction.good? }, team_number: 2 } %>
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    <label class="block text-sm font-medium text-gray-700 mb-2">Observers</label>
    <select name="lobby[observer_ids][]" multiple class="form-control w-full" data-controller="searchable-select">
      <% @players_for_select.each do |player| %>
        <option value="<%= player.id %>" <%= "selected" if @lobby.observer_ids.include?(player.id) %>>
          <%= player.nickname %>
        </option>
      <% end %>
    </select>
    <p class="text-xs text-gray-500 mt-1">Hold Ctrl/Cmd to select multiple observers</p>
  </div>

  <div class="form-actions mt-4">
    <%= f.button :submit, class: "bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
