<% index = lobby.lobby_players.index(lp) %>
<tr class="nested-fields" data-team="<%= team_number %>"
    <%= "data-lobby-drag-target=playerSlot data-slot-index=#{index}" if editable %>>
  <td class="px-4 py-2 whitespace-nowrap">
    <span style="display: inline-block; width: 16px; height: 16px; background-color: <%= lp.faction.color_hex %>; border: 1px solid #000; vertical-align: middle; margin-right: 6px;"></span>
    <%= lp.faction.name %>
  </td>
  <td class="px-4 py-2 whitespace-nowrap" id="player-cell-<%= index %>">
    <% if editable %>
      <input type="hidden" name="lobby[lobby_players_attributes][<%= index %>][faction_id]" value="<%= lp.faction_id %>">
      <% if lp.persisted? %>
        <input type="hidden" name="lobby[lobby_players_attributes][<%= index %>][id]" value="<%= lp.id %>">
      <% end %>
      <select name="lobby[lobby_players_attributes][<%= index %>][player_id]"
              class="hidden player-select"
              id="player-select-<%= index %>"
              data-average-elo-target="playerSelect"
              data-action="change->average-elo#calculateAverageElo change->auto-submit#submit"
              data-wl-target="wl-<%= index %>">
        <option value="" data-wins="" data-losses="">-- Select Player --</option>
        <% @players_for_select.each do |player| %>
          <% stats = @player_stats[player.id] || { wins: 0, losses: 0 } %>
          <option value="<%= player.id %>"
                  data-elo="<%= player.elo_rating.round %>"
                  data-wins="<%= stats[:wins] %>"
                  data-losses="<%= stats[:losses] %>"
                  <%= "selected" if player.id == lp.player_id %>>
            <%= player.nickname %>
          </option>
        <% end %>
      </select>
      <% if lp.player %>
        <span class="slot-player cursor-move px-2 py-1 bg-blue-50 border border-blue-200 rounded inline-flex items-center gap-2"
              draggable="true"
              data-player-id="<%= lp.player_id %>"
              data-player-name="<%= lp.player.nickname %>"
              data-slot-index="<%= index %>"
              ondragstart="handleSlotDragStart(event, <%= lp.player_id %>, '<%= lp.player.nickname %>', <%= index %>)"
              ondragend="handlePlayerDragEnd(event)">
          <%= lp.player.nickname %>
          <button type="button" onclick="clearSlot(<%= index %>)" class="text-gray-400 hover:text-red-500 text-sm leading-none">&times;</button>
        </span>
      <% else %>
        <span class="text-gray-400 italic">Empty slot</span>
      <% end %>
    <% elsif lp.player %>
      <%= link_to lp.player.nickname, player_path(lp.player), class: "text-blue-600 hover:underline" %>
    <% else %>
      -
    <% end %>
  </td>
  <td class="px-4 py-2 whitespace-nowrap" id="elo-<%= index %>">
    <%= lp.player&.elo_rating&.round || "-" %>
  </td>
  <td class="px-4 py-2 whitespace-nowrap" id="wl-<%= index %>">
    <% if lp.player %>
      <% if editable && @player_stats[lp.player_id] %>
        <% stats = @player_stats[lp.player_id] %>
        <span class="text-green-600"><%= stats[:wins] %>W</span>/<span class="text-red-600"><%= stats[:losses] %>L</span>
      <% else %>
        <span class="text-green-600"><%= lp.player.wins %>W</span>/<span class="text-red-600"><%= lp.player.losses %>L</span>
      <% end %>
    <% else %>
      -
    <% end %>
  </td>
  <% unless editable %>
    <td class="px-4 py-2 whitespace-nowrap">
      <% if lp.player %>
        <span class="text-green-600"><%= lp.player.recent_wins %>W</span>/<span class="text-red-600"><%= lp.player.recent_losses %>L</span>
      <% else %>
        -
      <% end %>
    </td>
    <td class="px-4 py-2 whitespace-nowrap">
      <% if lp.player && lp.faction %>
        <span class="text-green-600"><%= lp.player.recent_wins_with_faction(lp.faction, days: 365) %>W</span>/<span class="text-red-600"><%= lp.player.recent_losses_with_faction(lp.faction, days: 365) %>L</span>
      <% else %>
        -
      <% end %>
    </td>
  <% end %>
</tr>
