<div id="<%= dom_id player %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Battletag:</strong>
    <%= player.battletag %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nickname:</strong>
    <%= player.nickname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Battlenet name:</strong>
    <%= player.battlenet_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Elo rating:</strong>
    <%= player.elo_rating %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Region:</strong>
    <%= player.region %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Battlenet number:</strong>
    <%= player.battlenet_number %>
  </div>
</div>
