<% content_for :title, "Players" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Players</h1>
    <%= link_to "New player", new_player_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="players" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @players.any? %>
      <table class="min-w-full divide-y divide-gray-200 mb-5">
        <thead>
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nickname</th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Elo Rating</th>
            <th class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <% @players.each do |player| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-900"><%= player.nickname %></td>
              <td class="px-6 py-4 whitespace-nowrap text-gray-900"><%= player.elo_rating %></td>
              <td class="px-6 py-4 whitespace-nowrap flex space-x-2">
                <%= link_to "Show", player, class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
                <%= link_to "Edit", edit_player_path(player), class: "rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 font-medium" %>
                <%= button_to "Destroy", player, method: :delete, class: "rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center my-10">No players found.</p>
    <% end %>
  </div>
</div>
