<div id="<%= dom_id appearance %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Player:</strong>
    <%= player_display_name(appearance.player) + " (CR: #{appearance.player.custom_rating&.round || 1300})" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Faction:</strong>
    <%= appearance.faction.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Unit kills:</strong>
    <%= appearance.unit_kills %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hero kills:</strong>
    <%= appearance.hero_kills %>
  </div>
</div>
