<tr>
  <td class="px-2 py-1 font-medium">
    <span style="display: inline-block; width: 14px; height: 14px; background-color: <%= appearance.faction.color %>; border-radius: 3px; margin-right: 6px; vertical-align: middle;"></span>
    <%= link_to appearance.player.nickname, player_path(appearance.player) %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.unit_kills %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.hero_kills %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.elo_rating.round %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.elo_rating_change.round %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.player.elo_rating.round %>
  </td>
</tr>
