<tr>
  <td class="px-2 py-1 font-medium whitespace-nowrap">
    <% if appearance.faction %>
      <span style="display: inline-block; width: 14px; height: 14px; background-color: <%= appearance.faction.color %>; border-radius: 3px; margin-right: 6px; vertical-align: middle;"></span>
    <% end %>
    <% if appearance.player %>
      <%= link_to appearance.player.nickname, player_path(appearance.player) %><% if appearance.player.alternative_name.present? %> <span class="text-gray-400 font-normal">(<%= appearance.player.alternative_name %>)</span><% end %>
    <% else %>
      <span class="text-gray-400">Unknown</span>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <%= previous_record_for_appearance(appearance) %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.player && @overall_avg_ranks && @overall_avg_ranks[appearance.player_id] %>
      <span class="<%= @overall_avg_ranks[appearance.player_id] <= 2.5 ? 'text-green-600' : (@overall_avg_ranks[appearance.player_id] >= 3.5 ? 'text-red-600' : '') %>">
        <%= @overall_avg_ranks[appearance.player_id].round(2) %>
      </span>
    <% else %>
      <span class="text-gray-400">-</span>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.player && @faction_rank_data %>
      <% fac_data = @faction_rank_data[[appearance.player_id, appearance.faction_id]] %>
      <% if fac_data %>
        <span class="<%= fac_data[:avg] <= 2.5 ? 'text-green-600' : (fac_data[:avg] >= 3.5 ? 'text-red-600' : '') %>" title="<%= fac_data[:count] %> games with faction">
          <%= fac_data[:avg].round(2) %>
        </span>
        <span class="text-gray-400 text-xs">(<%= fac_data[:count] %>)</span>
      <% else %>
        <span class="text-gray-400">-</span>
      <% end %>
    <% else %>
      <span class="text-gray-400">-</span>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.unit_kills %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.hero_kills %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.castles_razed || "-" %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.heroes_lost && appearance.heroes_total %>
      <%= appearance.heroes_lost %>/<%= appearance.heroes_total %>
    <% else %>
      <%= heroes_lost_for_appearance(appearance) || "-" %>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <% uptime = calculate_hero_uptime_for_appearance(appearance, appearance.match) %>
    <% if uptime %>
      <span class="<%= uptime >= 80 ? 'text-green-600' : (uptime >= 60 ? 'text-yellow-600' : 'text-red-600') %>">
        <%= uptime %>%
      </span>
    <% else %>
      -
    <% end %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.bases_lost && appearance.bases_total %>
      <%= appearance.bases_lost %>/<%= appearance.bases_total %>
    <% else %>
      <%= bases_lost_for_appearance(appearance) || "-" %>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.self_heal || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.team_heal || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.total_heal || "-" %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.contribution_rank.nil? %>
      <span class="text-gray-400">-</span>
    <% else %>
      <span class="text-gray-500">#<%= appearance.contribution_rank %></span>
      <span class="<%= appearance.contribution_bonus.to_i > 0 ? 'text-green-600' : (appearance.contribution_bonus.to_i < 0 ? 'text-red-600' : 'text-gray-400') %>">
        <%= appearance.contribution_bonus.to_i >= 0 ? '+' : '' %><%= appearance.contribution_bonus.to_i %>
      </span>
      <% if appearance.is_mvp? %>
        <span class="text-yellow-500" title="MVP: Top unit kills and hero kills">★</span>
      <% end %>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.custom_rating&.round %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.custom_rating_change %>
      <span class="<%= appearance.custom_rating_change >= 0 ? 'text-green-600' : 'text-red-600' %>">
        <%= appearance.custom_rating_change >= 0 ? '+' : '' %><%= appearance.custom_rating_change.round %>
      </span>
    <% end %>
  </td>
</tr>
