<tr>
  <td class="px-2 py-1 font-medium">
    <% if appearance.faction %>
      <span style="display: inline-block; width: 14px; height: 14px; background-color: <%= appearance.faction.color %>; border-radius: 3px; margin-right: 6px; vertical-align: middle;"></span>
    <% end %>
    <% if appearance.player %>
      <%= link_to appearance.player.nickname, player_path(appearance.player) %>
    <% else %>
      <span class="text-gray-400">Unknown</span>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <%= previous_record_for_appearance(appearance) %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.unit_kills %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.hero_kills %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.castles_razed || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= heroes_lost_for_appearance(appearance) || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= bases_lost_for_appearance(appearance) || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.self_heal || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.team_heal || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.total_heal || "-" %>
  </td>
  <td class="px-2 py-1">
    <%= heal_contribution(appearance, appearances) %>
  </td>
  <td class="px-2 py-1">
    <%= team_heal_contribution(appearance, appearances) %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.elo_rating&.round %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.elo_rating_change %>
      <span class="<%= appearance.elo_rating_change >= 0 ? 'text-green-600' : 'text-red-600' %>">
        <%= appearance.elo_rating_change >= 0 ? '+' : '' %><%= appearance.elo_rating_change.round %>
      </span>
    <% end %>
  </td>
  <td class="px-2 py-1">
    <%= appearance.custom_rating&.round %>
  </td>
  <td class="px-2 py-1">
    <% if appearance.custom_rating_change %>
      <span class="<%= appearance.custom_rating_change >= 0 ? 'text-green-600' : 'text-red-600' %>">
        <%= appearance.custom_rating_change >= 0 ? '+' : '' %><%= appearance.custom_rating_change.round %>
      </span>
    <% end %>
  </td>
</tr>
