<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :played_at %>
    <%= f.input :seconds %>
    <%= f.input :good_victory %>

    <% @match.appearances.each do |appearance| %>
      <%= f.simple_fields_for :appearances, appearance || appearance.build do |af| %>
      <div class="nested-fields">
        <p> <%= appearance.faction.name %> </p>
        <%= af.input :faction_id, as: :hidden, input_html: { value: appearance.faction_id } %>
        <%= af.input :player_id, collection: Player.all, label_method: :nickname, label: "Player", selected: Player.all[@match.appearances.index(appearance)]&.id %>
        <%= af.input :unit_kills %>
        <%= af.input :hero_kills %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
