
<%= simple_form_for(@appearance) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :player %>
    <%= f.association :faction %>
    <%= f.association :match %>
    <%= f.input :unit_kills %>
    <%= f.input :hero_kills %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
