<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Wc3bfmestats" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Wc3bfmestats">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="bg-white border-b border-gray-200 fixed w-full z-10 top-0 left-0 shadow">
      <div class="container mx-auto flex flex-wrap items-center justify-between px-4 py-3">
      <a href="/" class="text-2xl font-bold text-blue-700">Wc3bfmestats</a>
      <ul class="flex space-x-8">
        <li>
          <%= link_to players_path, class: "text-gray-700 hover:text-blue-600 font-semibold px-4 py-2 rounded transition-colors duration-200" do %>
            Players <span class="text-xs text-gray-400">(<%= Player.joins(:matches).distinct.count %>)</span>
          <% end %>
        </li>
        <li>
          <%= link_to matches_path, class: "text-gray-700 hover:text-blue-600 font-semibold px-4 py-2 rounded transition-colors duration-200" do %>
            Matches <span class="text-xs text-gray-400">(<%= Match.count %>)</span>
          <% end %>
        </li>
        <li>
          <%= link_to "Factions", factions_path, class: "text-gray-700 hover:text-blue-600 font-semibold px-4 py-2 rounded transition-colors duration-200" %>
        </li>
        <li>
          <%= link_to "New Lobby", new_lobby_path, class: "text-gray-700 hover:text-blue-600 font-semibold px-4 py-2 rounded transition-colors duration-200" %>
        </li>
      </ul>
      </div>
    </nav>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
